
body {
    background-color: gainsboro;
    margin:0;
    
    overflow:scroll
    
    
}
.container {
    display: flex;
    padding:0;
    height:calc()
}
.content {
    min-width:400px;
    flex-direction: column;
    margin:0;
    
}
.content-top {
    text-align: center;
    
}
.content-top p {
    margin-right: 10%;
    margin-left: 10%;
}
.content-center {
    background-color: white;
    padding: 20px 0 20px 0;
    
    
}
.images {
min-width: 250px;
max-width: 500px;
}
.left {
    width: 100%;
}

.heading {
    display: flex;
}
.form-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
    flex-wrap: wrap;
    
    
    
}
.form-box {
    display: flex;
    flex-direction: column;
    flex:1;
    min-width: 200px;
    max-width: 300px;
    margin-right: 20px;
    
}
.form-box label {
    padding: 5px;
}
.sticky {
    position: sticky;
    top:0;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    min-height: 730px;
}
.credits {
    border: 10px solid white;
    background-color: black;
    display: flex;
    align-items: center;
}
.credits a {
    color:white
}
#logo {
    width: 100px;
    margin-left: 5px;
}

